In [1]:
import sys
sys.path.append('/home/iaamini/Documents/ML_practice/ML_fundamentals/ML_fundamentals/algorithms')

In [123]:
import pandas as pd
import numpy as np
from perceptron import perceptron

In [124]:
breast_cancer = pd.read_csv('../../DB/breast-cancer-wisconsin.data', sep=',', header=None)
ionosphere = pd.read_csv('../../DB/ionosphere.data', sep=',', header=None)
spambase = pd.read_csv('../../DB/spambase.data', sep=',', header=None)

In [125]:
breast_cancer.columns = ['col' + str(i) for i in range(len(breast_cancer.columns))]

In [126]:
breast_cancer.head()

      col0  col1  col2  col3  col4  col5 col6  col7  col8  col9  col10
0  1000025     5     1     1     1     2    1     3     1     1      2
1  1002945     5     4     4     5     7   10     3     2     1      2
2  1015425     3     1     1     1     2    2     3     1     1      2
3  1016277     6     8     8     1     3    4     3     7     1      2
4  1017023     4     1     1     3     2    1     3     1     1      2

In [127]:
breast_cancer.drop('col6', inplace=True, axis=1)

In [128]:
breast_cancer.head()

      col0  col1  col2  col3  col4  col5  col7  col8  col9  col10
0  1000025     5     1     1     1     2     3     1     1      2
1  1002945     5     4     4     5     7     3     2     1      2
2  1015425     3     1     1     1     2     3     1     1      2
3  1016277     6     8     8     1     3     3     7     1      2
4  1017023     4     1     1     3     2     3     1     1      2

In [129]:
breast_cancer.iloc[:, 1:].describe()

,col1,col2,col3,col4,col5,col7,col8,col9,col10
count,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000

In [130]:
ionosphere.head()

,0,1,2,3,4,5,6,7,8,9,...,25,26,27,28,29,30,31,32,33,34
0,1,0,0.99539,-0.05889,0.85243,0.02306,0.83398,-0.37708,1.00000,0.03760,...,-0.51171,0.41078,-0.46168,0.21266,-0.34090,0.42267,-0.54487,0.18641,-0.45300,g
1,1,0,1.00000,-0.18829,0.93035,-0.36156,-0.10868,-0.93597,1.00000,-0.04549,...,-0.26569,-0.20468,-0.18401,-0.19040,-0.11593,-0.16626,-0.06288,-0.13738,-0.02447,b
2,1,0,1.00000,-0.03365,1.00000,0.00485,1.00000,-0.12062,0.88965,0.01198,...,-0.40220,0.58984,-0.22145,0.43100,-0.17365,0.60436,-0.24180,0.56045,-0.38238,g
3,1,0,1.00000,-0.45161,1.00000,1.00000,0.71216,-1.00000,0.00000,0.00000,...,0.90695,0.51613,1.00000,1.00000,-0.20099,0.25682,1.00000,-0.32382,1.00000,b
4,1,0,1.00000,-0.02401,0.94140,0.06531,0.92106,-0.23255,0.77152,-0.16399,...,-0.65158,0.13290,-0.53206,0.02431,-0.62197,-0.05707,-0.59573,-0.04608,-0.65697,g

In [131]:
ionosphere.describe()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
count,351.000000,351.0,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,...,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000,351.000000
mean,0.891738,0.0,0.641342,0.044372,0.601068,0.115889,0.550095,0.119360,0.511848,0.181345,...,0.396135,-0.071187,0.541641,-0.069538,0.378445,-0.027907,0.352514,-0.003794,0.349364,0.014480
std,0.311155,0.0,0.497708,0.441435,0.519862,0.460810,0.492654,0.520750,0.507066,0.483851,...,0.578451,0.508495,0.516205,0.550025,0.575886,0.507974,0.571483,0.513574,0.522663,0.468337
min,0.000000,0.0,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,...,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000
25%,1.000000,0.0,0.472135,-0.064735,0.412660,-0.024795,0.211310,-0.054840,0.087110,-0.048075,...,0.000000,-0.332390,0.286435,-0.443165,0.000000,-0.236885,0.000000,-0.242595,0.000000,-0.165350
50%,1.000000,0.0,0.871110,0.016310,0.809200,0.022800,0.728730,0.014710,0.684210,0.018290,...,0.553890,-0.015050,0.708240,-0.017690,0.496640,0.000000,0.442770,0.000000,0.409560,0.000000
75%,1.000000,0.0,1.000000,0.194185,1.000000,0.334655,0.969240,0.445675,0.953240,0.534195,...,0.905240,0.156765,0.999945,0.153535,0.883465,0.154075,0.857620,0.200120,0.813765,0.171660
max,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [132]:
spambase.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [133]:
spambase.describe()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
count,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,...,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000
mean,0.104553,0.213015,0.280656,0.065425,0.312223,0.095901,0.114208,0.105295,0.090067,0.239413,...,0.038575,0.139030,0.016976,0.269071,0.075811,0.044238,5.191515,52.172789,283.289285,0.394045
std,0.305358,1.290575,0.504143,1.395151,0.672513,0.273824,0.391441,0.401071,0.278616,0.644755,...,0.243471,0.270355,0.109394,0.815672,0.245882,0.429342,31.729449,194.891310,606.347851,0.488698
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.588000,6.000000,35.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.065000,0.000000,0.000000,0.000000,0.000000,2.276000,15.000000,95.000000,0.000000
75%,0.000000,0.000000,0.420000,0.000000,0.380000,0.000000,0.000000,0.000000,0.000000,0.160000,...,0.000000,0.188000,0.000000,0.315000,0.052000,0.000000,3.706000,43.000000,266.000000,1.000000
max,4.540000,14.280000,5.100000,42.810000,10.000000,5.880000,7.270000,11.110000,5.260000,18.180000,...,4.385000,9.752000,4.081000,32.478000,6.003000,19.829000,1102.500000,9989.000000,15841.000000,1.000000

# Perceptron on breast cancer

In [134]:
breast_cancer

        col0  col1  col2  col3  col4  col5  col7  col8  col9  col10
0    1000025     5     1     1     1     2     3     1     1      2
1    1002945     5     4     4     5     7     3     2     1      2
2    1015425     3     1     1     1     2     3     1     1      2
3    1016277     6     8     8     1     3     3     7     1      2
4    1017023     4     1     1     3     2     3     1     1      2
5    1017122     8    10    10     8     7     9     7     1      4
6    1018099     1     1     1     1     2     3     1     1      2
7    1018561     2     1     2     1     2     3     1     1      2
8    1033078     2     1     1     1     2     1     1     5      2
9    1033078     4     2     1     1     2     2     1     1      2
10   1035283     1     1     1     1     1     3     1     1      2
11   1036172     2     1     1     1     2     2     1     1      2
12   1041801     5     3     3     3     2     4     4     1      4
13   1043999     1     1     1     1     2     3     1     1      2
14   1044572     8     7     5    10     7     5     5     4      4
15   1047630     7     4     6     4     6     4     3     1      4
16   1048672     4     1     1     1     2     2     1     1      2
17   1049815     4     1     1     1     2     3     1     1      2
18   1050670    10     7     7     6     4     4     1     2      4
19   1050718     6     1     1     1     2     3     1     1      2
20   1054590     7     3     2    10     5     5     4     4      4
21   1054593    10     5     5     3     6     7    10     1      4
22   1056784     3     1     1     1     2     2     1     1      2
23   1057013     8     4     5     1     2     7     3     1      4
24   1059552     1     1     1     1     2     3     1     1      2
25   1065726     5     2     3     4     2     3     6     1      4
26   1066373     3     2     1     1     1     2     1     1      2
27   1066979     5     1     1     1     2     2     1     1      2
28   1067444     2     1     1     1     2     2     1     1      2
29   1070935     1     1     3     1     2     1     1     1      2
..       ...   ...   ...   ...   ...   ...   ...   ...   ...    ...
669  1350423     5    10    10     8     5     7    10     1      4
670  1352848     3    10     7     8     5     7     4     1      4
671  1353092     3     2     1     2     2     3     1     1      2
672  1354840     2     1     1     1     2     3     1     1      2
673  1354840     5     3     2     1     3     1     1     1      2
674  1355260     1     1     1     1     2     2     1     1      2
675  1365075     4     1     4     1     2     1     1     1      2
676  1365328     1     1     2     1     2     2     1     1      2
677  1368267     5     1     1     1     2     1     1     1      2
678  1368273     1     1     1     1     2     1     1     1      2
679  1368882     2     1     1     1     2     1     1     1      2
680  1369821    10    10    10    10     5    10    10     7      4
681  1371026     5    10    10    10     4     5     6     3      4
682  1371920     5     1     1     1     2     3     2     1      2
683   466906     1     1     1     1     2     1     1     1      2
684   466906     1     1     1     1     2     1     1     1      2
685   534555     1     1     1     1     2     1     1     1      2
686   536708     1     1     1     1     2     1     1     1      2
687   566346     3     1     1     1     2     2     3     1      2
688   603148     4     1     1     1     2     1     1     1      2
689   654546     1     1     1     1     2     1     1     8      2
690   654546     1     1     1     3     2     1     1     1      2
691   695091     5    10    10     5     4     4     4     1      4
692   714039     3     1     1     1     2     1     1     1      2
693   763235     3     1     1     1     2     2     1     2      2
694   776715     3     1     1     1     3     1     1     1      2
695   841769     2     1     1     1     2     1     1     1      2
696   888820     5    10    10     3     7     8    10     2      4
697   897471     4     8     6     4     3    10     6     1      4
698   897471     4     8     8     5     4    10     4     1      4

[699 rows x 10 columns]

In [154]:
X = breast_cancer.iloc[:, 1:-1]
y = breast_cancer.iloc[:, -1]

In [155]:
y[y==2] = -1
y[y==4] = 1

In [156]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=.4, shuffle=True)

In [157]:
y_train.values[92]

-1

In [158]:
perceptron(X_train.values, y_train.values)

(array([-0.3,  2.4,  1.4, -0.8, -0.5,  0.6,  2.2,  1.3]), -6.999999999999991)

# Perceptron on ionosphere

In [151]:
X = ionosphere.iloc[:, 2:33]
y = ionosphere.iloc[:, -1]
y[y=='b'] = -1
y[y=='g'] = 1

/home/iaamini/Documents/ML_practice/ML_fundamentals/virtualenv/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/iaamini/Documents/ML_practice/ML_fundamentals/virtualenv/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [152]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=.4, shuffle=True)

In [153]:
w, w0 = perceptron(X_train.values, y_train.values)

# Perceptron on spam base

In [145]:
X = spambase.iloc[:, :-1]
y = spambase.iloc[:, -1]

In [147]:
y[y==0] = -1

/home/iaamini/Documents/ML_practice/ML_fundamentals/virtualenv/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [148]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=.4, shuffle=True)

In [150]:
w, w0 = perceptron(X_train.values, y_train.values)